body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #fefdfd;
}

header {
  background: #000000c7;
  color: #ffffff;
  padding: 10px 0;
  text-align: center;
}

main {
  padding: 20px;
}

article {
  background: #ffffff;
  margin: 20px 0;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 5px solid rgb(121, 108, 108);
  text-align: center;
  border-radius: 15px;
}
article img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  height: auto;
  width: 700px;
  border-radius: 10px;
}
footer {
  text-align: center;
  padding: 10px 0;
  background: #35424a;
  color: #ffffff;
  position: relative;
  bottom: 0;
  width: 100%;
}
